#consent-popup {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 10px 20px;
	background-color: lightgreen;
	transition: opacity 1s ease;
	background-image: url("baner biskvitki5-01.png");
	border: 7px solid white;
	border-radius: 10px;
	color: white;
}

.cookie-option {
	border: 5px solid white;
	border-radius: 5px;
	width: 140px;
	background-color: white;
	color: lightgreen;;
	position: relative;
	top: 10px;
}
.cookie-position {
	position: relative;
	top: 20px;
}
a.accept {
	color: lightgreen;
    text-decoration: none;
}
.hidden {
	display: none;
}
